---
import BaseLayout from "../layouts/BaseLayout.astro";
import SearchSoftfiles from "../components/SearchSoftfiles.vue";
---

<BaseLayout title="Cari Softfiles | Wallking">
	<main>
		<SearchSoftfiles client:load />
	</main>
</BaseLayout>
