---
import "../styles/global.css";

interface Props {
  title?: string;
}

const { title = "Your Moments Softfiles | Wallking" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Abadikan momen spesial Kamu di Wallking Studio, self-photo studio, photobox dan cetak foto terbaik di Garut!"
    />

    <!-- Open Graph -->
    <meta
      property="og:title"
      content="Softfiles from your moments | Wallking"
    />
    <meta
      property="og:description"
      content="Abadikan momen spesial Kamu di Wallking Studio, self-photo studio, photobox dan cetak foto terbaik di Garut!"
    />
    <meta
      property="og:image"
      content="https://s3.nevaobjects.id/wallking/assets/img/branding/og.webp"
    />
    <meta property="og:type" content="website" />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content="Softfiles from your moments | Wallking"
    />
    <meta
      name="twitter:description"
      content="Abadikan momen spesial Kamu di Wallking Studio, self-photo studio, photobox dan cetak foto terbaik di Garut!"
    />
    <meta
      name="twitter:image"
      content="https://s3.nevaobjects.id/wallking/assets/img/branding/og.webp"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <script
      defer
      src="https://umami.wallking.id/script.js"
      data-website-id="ac302b2d-abb1-4917-8175-f3b33f24876d"></script>
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
